camaraseguridad.json
[
    {
        "id": "f14e58048648b292",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b871f9ea6921bb40",
        "type": "inject",
        "z": "f14e58048648b292",
        "name": "E3T",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "049c26a4b66ef060",
                "65a85e2c9871e47f",
                "06c297cd88d82063"
            ]
        ]
    },
    {
        "id": "04c18436628c1fec",
        "type": "exec",
        "z": "f14e58048648b292",
        "command": "fswebcam ${payload}",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Tomar foto",
        "x": 490,
        "y": 540,
        "wires": [
            [
                "dce1bcb4b5653309"
            ],
            [],
            []
        ]
    },
    {
        "id": "dce1bcb4b5653309",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "salida est치ndar",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "f16e17558d5c8f50",
        "type": "function",
        "z": "f14e58048648b292",
        "name": "Enviar mensaje",
        "func": "msg.payload ={\n    \"chatId\": -4722746751,\n    \"type\" : \"message\",\n    \"content\": \"Alerta de seguridad en la E3T\"\n\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 680,
        "wires": [
            [
                "2858585d1b45b916"
            ]
        ]
    },
    {
        "id": "dbcf6192439938d2",
        "type": "telegram sender",
        "z": "f14e58048648b292",
        "name": "Enviar a Telegram",
        "bot": "9db480892f72a10b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 790,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "9b362ef121cd0a48",
        "type": "function",
        "z": "f14e58048648b292",
        "name": "Enviar foto",
        "func": "msg.payload ={\n    \"chatId\": -4722746751,\n    \"type\" : \"photo\",\n    \"content\": \"/home/raspberry/Pictures/foto.jpg\"\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 740,
        "wires": [
            [
                "dbcf6192439938d2"
            ]
        ]
    },
    {
        "id": "2858585d1b45b916",
        "type": "telegram sender",
        "z": "f14e58048648b292",
        "name": "Enviar a Telegram",
        "bot": "9db480892f72a10b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 770,
        "y": 620,
        "wires": [
            [
                "24b29b212674f385"
            ]
        ]
    },
    {
        "id": "dfb8cc792963bce8",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "prueba",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 620,
        "wires": []
    },
    {
        "id": "049c26a4b66ef060",
        "type": "function",
        "z": "f14e58048648b292",
        "name": "function 3",
        "func": "// Establecer el nombre fijo para el archivo\nvar filePath = \"/home/raspberry/Pictures/foto.jpg\";\n\n// Actualizar el msg.payload con la ruta fija del archivo\nmsg.payload = filePath; \n\n// Guardar la ruta para el nodo 'exec' o para cualquier otro uso posterior\nmsg.filename_to_read = filePath;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "04c18436628c1fec",
                "dfb8cc792963bce8"
            ]
        ]
    },
    {
        "id": "65a85e2c9871e47f",
        "type": "delay",
        "z": "f14e58048648b292",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 620,
        "wires": [
            [
                "f16e17558d5c8f50",
                "9b362ef121cd0a48"
            ]
        ]
    },
    {
        "id": "24b29b212674f385",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "prueba2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 620,
        "wires": []
    },
    {
        "id": "6ae69576835ddcc9",
        "type": "inject",
        "z": "f14e58048648b292",
        "name": "Centic",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "payload2",
                "v": "object",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 210,
        "y": 1000,
        "wires": [
            [
                "9628941503a3831e",
                "1dbb1bba7694173f",
                "3c932ba40e70611c"
            ]
        ]
    },
    {
        "id": "f8c6d52c2c4a4151",
        "type": "exec",
        "z": "f14e58048648b292",
        "command": "fswebcam ${payload}",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Tomar foto",
        "x": 550,
        "y": 980,
        "wires": [
            [
                "cc269b767d803b98"
            ],
            [],
            []
        ]
    },
    {
        "id": "cc269b767d803b98",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "salida est치ndar",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 940,
        "wires": []
    },
    {
        "id": "599c5a465abb9b9f",
        "type": "function",
        "z": "f14e58048648b292",
        "name": "Enviar mensaje",
        "func": "msg.payload ={\n    \"chatId\": -4722746751,\n    \"type\" : \"message\",\n    \"content\": \"Alerta de seguridad en la CENTIC\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1100,
        "wires": [
            [
                "060b68af17ca5a3d"
            ]
        ]
    },
    {
        "id": "cef20cf230065929",
        "type": "telegram sender",
        "z": "f14e58048648b292",
        "name": "Enviar a Telegram",
        "bot": "9db480892f72a10b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 830,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "63eaa59230e922a5",
        "type": "function",
        "z": "f14e58048648b292",
        "name": "Enviar foto",
        "func": "msg.payload ={\n    \"chatId\": -4722746751,\n    \"type\" : \"photo\",\n    \"content\": \"/home/raspberry/Pictures/foto1.jpg\"\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1140,
        "wires": [
            [
                "cef20cf230065929"
            ]
        ]
    },
    {
        "id": "060b68af17ca5a3d",
        "type": "telegram sender",
        "z": "f14e58048648b292",
        "name": "Enviar a Telegram",
        "bot": "9db480892f72a10b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 830,
        "y": 1100,
        "wires": [
            [
                "9d950ddc11f07452"
            ]
        ]
    },
    {
        "id": "1bf723b6ce9cdf77",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "prueba",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1060,
        "wires": []
    },
    {
        "id": "9628941503a3831e",
        "type": "function",
        "z": "f14e58048648b292",
        "name": "function 1",
        "func": "// Establecer el nombre fijo para el archivo\nvar filePath = \"/home/raspberry/Pictures/foto1.jpg\";\n\n// Actualizar el msg.payload con la ruta fija del archivo\nmsg.payload = filePath; \n\n// Guardar la ruta para el nodo 'exec' o para cualquier otro uso posterior\nmsg.filename_to_read = filePath;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 980,
        "wires": [
            [
                "f8c6d52c2c4a4151",
                "1bf723b6ce9cdf77"
            ]
        ]
    },
    {
        "id": "1dbb1bba7694173f",
        "type": "delay",
        "z": "f14e58048648b292",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "599c5a465abb9b9f",
                "63eaa59230e922a5"
            ]
        ]
    },
    {
        "id": "9d950ddc11f07452",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "prueba2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1100,
        "wires": []
    },
    {
        "id": "067387838a72225a",
        "type": "inject",
        "z": "f14e58048648b292",
        "name": "Alta Tensi칩n",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 1500,
        "wires": [
            [
                "f3e9aee53ae90b76",
                "0d2be307619a9826",
                "c0f73d4860c99323"
            ]
        ]
    },
    {
        "id": "d7732a47b4e524fb",
        "type": "exec",
        "z": "f14e58048648b292",
        "command": "fswebcam ${payload}",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Tomar foto",
        "x": 610,
        "y": 1480,
        "wires": [
            [
                "2c6bfeef8d4e1cd3"
            ],
            [],
            []
        ]
    },
    {
        "id": "2c6bfeef8d4e1cd3",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "salida est치ndar",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1440,
        "wires": []
    },
    {
        "id": "0b9d1f19ad28c49c",
        "type": "function",
        "z": "f14e58048648b292",
        "name": "Enviar mensaje",
        "func": "msg.payload ={\n    \"chatId\": -4722746751,\n    \"type\" : \"message\",\n    \"content\": \"Alerta de seguridad en la ALTA TENSION\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1600,
        "wires": [
            [
                "367b9a93e0e26c48"
            ]
        ]
    },
    {
        "id": "7c39608549db7a47",
        "type": "telegram sender",
        "z": "f14e58048648b292",
        "name": "Enviar a Telegram",
        "bot": "9db480892f72a10b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 890,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "e2784e05a90562c3",
        "type": "function",
        "z": "f14e58048648b292",
        "name": "Enviar foto",
        "func": "msg.payload ={\n    \"chatId\": -4722746751,\n    \"type\" : \"photo\",\n    \"content\": \"/home/raspberry/Pictures/foto2.jpg\"\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1640,
        "wires": [
            [
                "7c39608549db7a47"
            ]
        ]
    },
    {
        "id": "367b9a93e0e26c48",
        "type": "telegram sender",
        "z": "f14e58048648b292",
        "name": "Enviar a Telegram",
        "bot": "9db480892f72a10b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 890,
        "y": 1600,
        "wires": [
            [
                "dd9a95857f67782f"
            ]
        ]
    },
    {
        "id": "3d9c0d573355e88c",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "prueba",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1560,
        "wires": []
    },
    {
        "id": "f3e9aee53ae90b76",
        "type": "function",
        "z": "f14e58048648b292",
        "name": "function 2",
        "func": "// Establecer el nombre fijo para el archivo\nvar filePath = \"/home/raspberry/Pictures/foto2.jpg\";\n\n// Actualizar el msg.payload con la ruta fija del archivo\nmsg.payload = filePath; \n\n// Guardar la ruta para el nodo 'exec' o para cualquier otro uso posterior\nmsg.filename_to_read = filePath;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1480,
        "wires": [
            [
                "d7732a47b4e524fb",
                "3d9c0d573355e88c"
            ]
        ]
    },
    {
        "id": "0d2be307619a9826",
        "type": "delay",
        "z": "f14e58048648b292",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 1560,
        "wires": [
            [
                "0b9d1f19ad28c49c",
                "e2784e05a90562c3"
            ]
        ]
    },
    {
        "id": "dd9a95857f67782f",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "prueba2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1600,
        "wires": []
    },
    {
        "id": "06c297cd88d82063",
        "type": "function",
        "z": "f14e58048648b292",
        "name": "Generar consulta SQL",
        "func": "let ts = new Date().toISOString().slice(0, 19).replace('T', ' ');\nlet query = INSERT INTO activaciones (timestamp, event, count) VALUES ('${ts}', 'E3T', 1);\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 800,
        "wires": [
            [
                "1dbbb729331af420",
                "12734de1ee3fad11"
            ]
        ]
    },
    {
        "id": "1dbbb729331af420",
        "type": "mysql",
        "z": "f14e58048648b292",
        "mydb": "e9b874423100b108",
        "name": "Insertar en MariaDB",
        "x": 610,
        "y": 800,
        "wires": [
            [
                "d7f32ef87d58845e"
            ]
        ]
    },
    {
        "id": "d7f32ef87d58845e",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "Respuesta MySQL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 830,
        "y": 800,
        "wires": []
    },
    {
        "id": "12734de1ee3fad11",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "Consulta Generada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "x": 630,
        "y": 860,
        "wires": []
    },
    {
        "id": "3c932ba40e70611c",
        "type": "function",
        "z": "f14e58048648b292",
        "name": "Generar consulta SQL",
        "func": "let ts = new Date().toISOString().slice(0, 19).replace('T', ' ');\nlet query = INSERT INTO activaciones (timestamp, event, count) VALUES ('${ts}', 'CENTIC', 1);\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1280,
        "wires": [
            [
                "d66b54258ef44844",
                "94044ebbea4efc84"
            ]
        ]
    },
    {
        "id": "d66b54258ef44844",
        "type": "mysql",
        "z": "f14e58048648b292",
        "mydb": "e9b874423100b108",
        "name": "Insertar en MariaDB",
        "x": 730,
        "y": 1280,
        "wires": [
            [
                "916167be6976373d"
            ]
        ]
    },
    {
        "id": "916167be6976373d",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "Respuesta MySQL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 950,
        "y": 1280,
        "wires": []
    },
    {
        "id": "94044ebbea4efc84",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "Consulta Generada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "x": 750,
        "y": 1360,
        "wires": []
    },
    {
        "id": "c0f73d4860c99323",
        "type": "function",
        "z": "f14e58048648b292",
        "name": "Generar consulta SQL",
        "func": "let ts = new Date().toISOString().slice(0, 19).replace('T', ' ');\nlet query = INSERT INTO activaciones (timestamp, event, count) VALUES ('${ts}', 'AT', 1);\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1800,
        "wires": [
            [
                "0fe89976ea7cc2e1",
                "b75ef004629193db"
            ]
        ]
    },
    {
        "id": "0fe89976ea7cc2e1",
        "type": "mysql",
        "z": "f14e58048648b292",
        "mydb": "e9b874423100b108",
        "name": "Insertar en MariaDB",
        "x": 760,
        "y": 1800,
        "wires": [
            [
                "e894589711d75ef9"
            ]
        ]
    },
    {
        "id": "e894589711d75ef9",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "Respuesta MySQL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 970,
        "y": 1800,
        "wires": []
    },
    {
        "id": "b75ef004629193db",
        "type": "debug",
        "z": "f14e58048648b292",
        "name": "Consulta Generada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "x": 770,
        "y": 1880,
        "wires": []
    },
    {
        "id": "0b613a3232977ce5",
        "type": "http in",
        "z": "f14e58048648b292",
        "name": "Consulta MySQL",
        "url": "/datos",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 1960,
        "wires": [
            [
                "17e3a346ee7e5dea"
            ]
        ]
    },
    {
        "id": "17e3a346ee7e5dea",
        "type": "function",
        "z": "f14e58048648b292",
        "name": " consulta SQL",
        "func": "msg.topic = \"SELECT * FROM activaciones ORDER BY timestamp DESC LIMIT 100\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1960,
        "wires": [
            [
                "172403b7e8b911cd"
            ]
        ]
    },
    {
        "id": "172403b7e8b911cd",
        "type": "mysql",
        "z": "f14e58048648b292",
        "mydb": "e9b874423100b108",
        "name": "Insertar en MariaDB",
        "x": 860,
        "y": 1960,
        "wires": [
            [
                "bdc4b6df83863f13"
            ]
        ]
    },
    {
        "id": "bdc4b6df83863f13",
        "type": "http response",
        "z": "f14e58048648b292",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1090,
        "y": 1960,
        "wires": []
    },
    {
        "id": "9db480892f72a10b",
        "type": "telegram bot",
        "botname": "Node",
        "usernames": "",
        "chatids": "-4722746751",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "e9b874423100b108",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "registro_eventos",
        "tz": "",
        "charset": "UTF8"
    }
]
